.t-transform {
    text-transform: uppercase;
}
.f-reset {
    font-size: 0;
}

.m-right {
   margin-right: 40px;
}

.c-reset {
    color: $primary-color;
}

.wrapper {
    width: 680px;
}
.f-clr-reset {
    color: $background-color-dark;
}
.m-bottom {
    margin-bottom: 20px;
}